*, *:before, *:after {
  box-sizing: border-box;
}

body {
  background-color: #dadada;

}
.container {
  margin: 20px auto;
  width: 90%;
}
    img {
    width:40em;   
}

 div {
  background-color: #dadada;
  margin: 1% 0;
  width: 100%;
  padding: 10px 10px;
} 

@media screen and (min-width: 575px){
   .conatiner {
    margin: 1%;
    width: 50%;
  }
}

@media screen and (min-width: 900px){
   .container {
    margin: 1%;
    width: 22%;
  }
}
    
   h2 {
    text-align: center;
    position:absolute;
    padding: 2.4em;
    font-family: Allerta;
    font-size: 4em;
       
    } 
h1 {
 text-align: center;
 font-weight: 300;
 font-family: Allerta;
 font-size: 4em;
    
    
}

