@media screen and (min-width: 575px){
   div {
    margin: 1%;
    width: 48%;
  }

body {
  background-color: #dadada;
  font-size: 16px;
}

    .baku-image {
        background-image: "image(images/Baku.jpg)"
    }